<div class="container vertical" style="max-width: 900px; margin: auto; padding: 24px; display: flex; flex-direction: column; gap: 24px;">
    <div><Chart1 /></div>
    <div><Chart2 /></div>
</div>
@code{

}